@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


body {
  color: antiquewhite;
  background-image: url("../../public/pattern.png");
  font-family: var(--font-noto)
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.noto {
  font-family: var(--font-noto)
}

.mansalva {
  font-family: var(--font-mansalva);
}

.instagram-user-root-container {
  display: none;
}

.sk-ww-ig-feed-container {
  background-color: #354037;
}

.sk-ig-bottom-btn-container {
  margin-top: 10px !important;
}

.tutorial_link {
  display: none !important;
}

h1 {
  font-family: var(--font-mansalva);
  font-size: 30pt;
}

.nav {
  z-index: 1000;
  height: 80px;
  background-color: #1d1814;
  color: antiquewhite;
  width: 100%;
  padding-top: 10px !important;
  padding-left: 10px !important;
  display: flex;
  flex-direction: row;
  position: sticky; 
  top: 0;
  font-size: 17pt;
  font-family: var(--font-mansalva);
}

.navLinks {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.navLink {
  margin-right: 20px;
}

.logo {
  height: 60px;
  width: 130px;
}

.greenBg {
  background-color: #354037 !important;
}

input {
  background-color: #354037 !important;
}

button[type="submit"] {
  background-color: #C6444F !important;
  color: antiquewhite !important;
  float: right;
}

.text-foreground {
  color: antiquewhite;
}

.form {
  background-color: #354037;
  color: antiquewhite !important;
}

.form:hover {
  background-color: #354037 !important;
  color: antiquewhite !important;
}

.form:focus-visible {
  background-color: #354037 !important;
  color: antiquewhite !important;
}

.bg-primary-50 {
  background-color: #354037 !important;
  color: antiquewhite !important;
}

.text-foreground-500 {
  color: antiquewhite !important;
}

section > div.group {
  margin-bottom: 20px !important;
}

section {
  float: left;
  width: 50%;
}

#section2 {
  margin-left: 40px;
}

.p-24 {
  padding: 3rem !important;
}

@media screen and (max-width: 600px) {
  section {
    width: 100%;
  }

  #section2 {
    margin-left: 0px;
  }

  #spacer1 {
    height: 40px !important;
  }

  #spacer2 {
    height: 20px !important;
  }
  form {
    flex-direction: column !important;
  }

  #contactDiv {
    width: 90% !important;
    padding: 10px !important;
  }

  #contactDiv iframe {
    height: 150px;
    width: 200px;
    margin: auto;
    margin-bottom: 15px;
    margin-top: 15px;
  }
}