@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


body {
  color: antiquewhite;
  background-image: url("../../public/pattern.png");
  font-family: var(--font-noto)
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.instagram-user-root-container {
  display: none;
}

.sk-ww-ig-feed-container {
  background-color: #354037;
}

.sk-ig-bottom-btn-container {
  margin-top: 10px !important;
}

.tutorial_link {
  display: none !important;
}

h1 {
  font-family: var(--font-mansalva);
  font-size: 30pt;
}

.nav {
  z-index: 1000;
  height: 80px;
  background-color: #1d1814;
  color: antiquewhite;
  width: 100%;
  padding-top: 10px !important;
  padding-left: 10px !important;
  display: flex;
  flex-direction: row;
  position: sticky; 
  top: 0;
  font-size: 17pt;
  font-family: var(--font-mansalva);
}

.navLinks {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.navLink {
  margin-right: 20px;
}

.logo {
  height: 60px;
  width: 130px;
}

.greenBg {
  background-color: #354037 !important;
}

input {
  background-color: #354037 !important;
}

.text-foreground {
  color: antiquewhite;
}